<p>Add a new key for <%= @handle.name %>:</p>

<%= tabs do %>
  <% tab_for('ssh-rsa') do %>
    <h3>1. Generate a private/public key-pair</h3>
    <pre><code>ssh-keygen -t rsa -b 4096</code></pre>
    <h3>2. Copy the public key</h3>
    <pre><code>cat ~/.ssh/id_rsa.pub</code></pre>
  <% end %>
  <% tab_for('ssh-ed25519') do %>
    <h3>1. Generate a private/public key-pair</h3>
    <pre><code>ssh-keygen -t ed25519</code></pre>
    <h3>2. Copy the public key</h3>
    <pre><code>cat ~/.ssh/id_ed25519.pub</code></pre>
  <% end %>
  <% tab_for('minisign') do %>
    <h3>1. Generate a private/public key-pair</h3>
    <pre><code>minisign -G</code></pre>
    <h3>2. Copy the public key</h3>
    <pre><code>cat minisign.pub</code></pre>
  <% end %>
<% end %>

<%= form_with model: [:handle, @key] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
