

<h2>Public Key ID: <code><%= @key.key_id %></code></h2>
<pre><code><%= @key.content %></code></pre>

<br><small><time><%= @key.created_at %></time></small>

<% if @key.proof.persisted? %>
  This key has been verified!
  <%= link_to "View proof", handle_key_proof_path(handle_id: @handle.name, key_id: @key.id) %>
<% else %>

<h3>Prove it!</h3>

<p>To prove ownership of this key, sign the claim:</p>

<pre><code>curl -O <%= handle_key_claim_url(@handle.name, @key, format: 'txt')%>
minisign -S -m claim.txt</code></pre>

<p>and upload the signature:</p>
<pre><code>cat claim.txt.minisig</code></pre>

<%= form_with model: [:handle, :key, @proof], url: handle_key_proof_path(@handle.name, @key, @proof) do |f| %>
  <%= f.label :content, "Signature:" %>
  <%= f.text_area :content %>
  <%= f.hidden_field :claim, value: "I am proving that I am #{@handle.name} on proof.im with the following public key:\n#{@key.content}\n" %>
  <%= f.submit %>
<% end %>

<% end %>
