

<h2>Public Key ID: <code><%= @key.key_id %></code></h2>
<pre style='white-space: pre-wrap;word-wrap: break-word'><code><%= @key.content %></code></pre>
<%= link_to "curl/raw", handle_key_path(handle_id: @handle.name, id: @key.id, format: 'txt') %>
<% if @key.proof.persisted? %>
<br>
  <p>This key has been verified!
    <%= link_to "View proof", handle_key_proof_path(handle_id: @handle.name, key_id: @key.id) %>
  </p>
<% else %>

<h3>Prove it!</h3>

<p>To prove ownership of this key, sign the claim:</p>

<pre><code>curl <%= handle_key_claim_url(@handle.name, @key, format: 'txt')%> > /tmp/claim.txt
<% if @key.kind == "minisign" %>
minisign -Sm /tmp/claim.txt
<% else %>
ssh-keygen -Y sign -n file -f ~/.ssh/id_rsa /tmp/claim.txt
<% end %>
</code></pre>

<p>and upload the signature:</p>

<% if @key.kind == "minisign" %>
<pre><code>curl -F "signature=@/tmp/claim.txt.minisig" -F "claim=@/tmp/claim.txt" -F "handle=<%= @handle.name %>" <%= proofs_url %></code></pre>
<% else %>
<pre><code>curl -F "signature=@/tmp/claim.txt.sig" -F "claim=@/tmp/claim.txt" -F "handle=<%= @handle.name %>" <%= proofs_url %></code></pre>
<% end %>
<%= link_to "I did this", handle_key_proof_path(@handle.name, @key, @proof) %>
<% end %>
