

<h2>Public Key ID: <code><%= @key.key_id %></code></h2>
<pre><code><%= @key.content %></code></pre>

<br><small><time><%= @key.created_at %></time></small>

<% if @key.proof.persisted? %>
  This key has been verified!
  <%= link_to "View proof", handle_key_proof_path(handle_id: @handle.name, key_id: @key.id) %>
<% else %>

<h3>Prove it!</h3>

<p>To prove ownership of this key, sign the claim:</p>

<pre><code>curl <%= handle_key_claim_url(@handle.name, @key, format: 'txt')%> > /tmp/claim.txt
minisign -Sm /tmp/claim.txt</code></pre>

<p>and upload the signature:</p>
<pre><code>curl -F "signature=@/tmp/claim.txt.minisig" -F "claim=@/tmp/claim.txt" http://localhost:3000/jshawl/keys/1/proof

</code></pre>

<%= link_to "I did this", handle_key_proof_path(@handle.name, @key, @proof) %>
<% end %>
