<h3>Create a gist</h3>
<p>visit <a href='https://gist.github.com/new' target='_blank'>https://gist.github.com/new</a> and create a public gist
where the contents contain a link back to this page: <a href="<%= request.url %>"><%= request.url %></a></p>
<br>
<label for="gist">Gist URL:</label>  
<input>
<br><br>
<%= tabs do %>
  <% tab_for('ssh-rsa') do %>
  <h3>Sign the claim</h3>
      <pre><code>ssh-keygen -Y sign -n file -f ~/.ssh/id_rsa /tmp/claim.txt</code></pre>
      <h3>Upload the signature</h3>
      <pre><code>curl -F "signature=@/tmp/claim.txt.sig" \
     -F "claim=@/tmp/claim.txt" \
     -F "public_claim_url=<span class='js-output'>&lt;GIST_URL></span>" \
     <%= handle_identity_url(handle_id: @handle.name) %></code></pre>
  <% end %>
  <% tab_for('minisign') do %>
  <h3>Sign the session claim</h3>
      <pre><code>minisign -Sm /tmp/claim.txt</code></pre>
      <h3>Upload the signature</h3>
      <pre><code>curl -F "signature=@/tmp/claim.txt.minisig" \
     -F "claim=@/tmp/claim.txt" \
     -F "public_claim_url=<span class='js-output'>&lt;GIST_URL></span>" \
     <%= handle_identity_url(handle_id: @handle.name) %></code></pre>
  <% end %>
<% end %>

<script>
     const input = document.querySelector("input")
     const outputs = document.querySelectorAll(".js-output")
  input.addEventListener('keyup', (e) => {
    console.log(e)
    outputs.forEach(output => output.innerHTML = e.target.value)
  })
</script>
