<!DOCTYPE html>
<html>
  <head>
    <title>ProofIm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Log In", new_session_path %>
    </nav>
    <h1>
      <%= link_to "proof.im", root_path %>
      /
      <%= (link_to @handle.name, handle_path(@handle.name)) if @handle&.id %>
    </h1>
    <% flash.each do |type, msg| %>
      <div class='flash <%= type %>'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
