<!DOCTYPE html>
<html>
  <head>
    <title>proof.im</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <h1>
        <%= link_to "ðŸ” proof.im", root_path %>
        /
        <%= (link_to @handle.name, handle_path(@handle.name)) if @handle&.id %>
      </h1>
      <div>
        <%= link_to "View Source", "https://github.com/jshawl/proof.im", target: "_blank" %>
        &middot;
        <% if current_handle %>
          <%= link_to "Profile", handle_path(id: current_handle) %>
          &middot;
          <%= link_to "Log Out #{current_handle}", session_path, data: {turbo_method: :delete} %>
        <% else %>
          <%= link_to "Log In", new_session_path %>
          &middot;
          <%= link_to "Sign Up", new_registration_path %>
        <% end %>
      </div>
    </nav>
   
    <% flash.each do |type, msg| %>
      <div class='flash <%= type %>'>
        <%= msg.html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
